body {
    padding: 0;
    margin: 0;
}

.btn {
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 30px;
  }

.btn.start {
    background: #5fca5f;
}

.btn.reset {
    background: #f14949;
}

#canvas {
    text-align: center;
    border: 2px solid black;
}